In [1]:
# importing the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore harmless warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load the 'HealthIns' dataset by using pandas library

HealthIns = pd.read_csv(r"D:\iiit notes\Internship\15 seasion 31_may-2021\Health_Insurance.csv", header = 0)
HealthIns.head()

   Age  Gender   BMI  Children  Smoker  Region  Expenses
0   19       2  27.9         0       1       4  16884.92
1   18       1  33.8         1       0       3   1725.55
2   28       1  33.0         3       0       3   4449.46
3   33       1  22.7         0       0       2  21984.47
4   32       1  28.9         0       0       2   3866.86

In [3]:
# Display the dataset information 

HealthIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       1338 non-null   int64
 1   Gender    1338 non-null   int64
 2   BMI       1338 non-null   float64
 3   Children  1338 non-null   int64
 4   Smoker    1338 non-null   int64
 5   Region    1338 non-null   int64
 6   Expenses  1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

In [4]:
# Identify the Target and Independent variable

IndepVar =[]

for col in HealthIns.columns:
    if col != 'Expenses':
        IndepVar.append(col)
        
TargetVar = 'Expenses'

x = HealthIns[IndepVar]
y = HealthIns[TargetVar]

In [5]:
# Split the data into train and test (random sampling)

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 6)

In [6]:
# Split the data into train and test (Stratified sampling) 

from sklearn.model_selection import train_test_split 
x1_train, x1_test, y1_train, y1_test = train_test_split(x, y, test_size=0.3, random_state=42, 
                                                        stratify=HealthIns[['Region', 'Smoker', 'Gender']])

# Multi Linear Regression with Random Sampling

In [7]:
# train the Linear Regression Algorithm and build the model

from sklearn.linear_model import LinearRegression

mulreg = LinearRegression()
mulreg.fit(x_train, y_train)

LinearRegression()

In [8]:
# Display the algorithm parameters

params = mulreg.get_params()
print(params)

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False, 'positive': False}

In [9]:
# Predict the model with test data

y_pred = mulreg.predict(x_test)

In [10]:
from sklearn import metrics

print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test,y_pred),3))
print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test,y_pred),3))
print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test,y_pred)),3))
print('Mean Absolute Percentage Error (MAPE):', round(metrics.mean_absolute_percentage_error(y_test,y_pred),3)*100, '%')
print('R2_score:', round(metrics.r2_score(y_test,y_pred),6))

Mean Absolute Error (MAE): 4024.487
Mean Squared Error (MSE): 31333621.718
Root Mean Squared Error (RMSE): 5597.644
Mean Absolute Percentage Error (MAPE): 43.5 %
R2_score: 0.772518

# Multi-Regression with Stratified Sampling

In [12]:
# train the Linear Regression Algorithm and build the model

from sklearn.linear_model import LinearRegression

mulreg1 = LinearRegression()
mulreg1.fit(x1_train, y1_train)

LinearRegression()

In [13]:
# Display the algorithm parameters

params = mulreg1.get_params()
print(params)

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False, 'positive': False}

In [14]:
y1_pred = mulreg1.predict(x1_test)

In [15]:
from sklearn import metrics

print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y1_test,y1_pred),3))
print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y1_test,y1_pred),3))
print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y1_test,y1_pred)),3))
print('Mean Absolute Percentage Error (MAPE):', round(metrics.mean_absolute_percentage_error(y1_test,y1_pred),3)*100, '%')
print('R2_score:', round(metrics.r2_score(y1_test,y1_pred),6))

Mean Absolute Error (MAE): 4012.779
Mean Squared Error (MSE): 35953308.07
Root Mean Squared Error (RMSE): 5996.108
Mean Absolute Percentage Error (MAPE): 37.9 %
R2_score: 0.776976

In [16]:
# Predict charges for new customer : Name - Ram 

data = {'Age' : 45,
        'Gender' : 1,
        'BMI' : 35.50,
        'Children' : 4,
        'Smoker' : 1,
        'Region' : 3} 
index = [1] 
Ram_data = pd.DataFrame(data,index) 
Ram_data

   Age  Gender   BMI  Children  Smoker  Region
1   45       1  35.5         4       1       3

In [17]:
# Predicting the expenses by giving new data

Pred_Ram = mulreg.predict(Ram_data) 
print("Medical Expenses for Ram is : ", Pred_Ram)

Medical Expenses for Ram is :  [36746.45641819]

In [18]:
# Predicting the expenses by giving new data

Pred_Ram = mulreg1.predict(Ram_data) 
print("Medical Expenses for Ram is : ", Pred_Ram)

Medical Expenses for Ram is :  [35164.75012745]